<footer class="page footer font-small bg-secondary pt-4" >

<div class="container">

    <div class="row d-flex justify-content-center">
<div class="col-md-12 d-flex justify-content-center">
    <h4 class="text-white"> Siga-nos nas redes sociais </h4>

</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-12 d-flex justify-content-center">


        <ul class="social-network ">
            <li>

        <a href="https://www.facebook.com/generationbrasil" target="_blank" class="icoFacebook">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </a>
    
    </li>

    <a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>

    </a>
   <li>

  <a href="https://www.linkedin.com/search/results/all/?keywords=generation%20brasil&origin=RICH_QUERY_TYPEAHEAD_HISTORY&position=0&searchId=f5887c89-743a-4a31-856c-129a9b5563db&sid=Xim" target="_blank" class="IcoLinkedin">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
  </a>
           
        </ul>
    </div>
</div>
    </div>
</div>

<div class="footer-copyright bg-dark text-center py-3">
<span class="text-light"> © 2020 Copyright: </span>
 <a class="text-light" target="_blank"  href="https://brazil.generation.org/">brasil.generation.org</a>

</div>
</footer>
